# Python virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
venv/

# Environment Files
.env

# ChromaDB Vector Store
chroma_db_ollama/
chroma_db_gemini/
chroma_db_stella/
chroma_db_stella_hf_llm/ 
chroma_db_gemini_v2/ 

# Output and Log files
*.out
*.log
gpu_test_output_*.txt
ollama_rag_main_*.txt

# Editor backup files
*.save
*~
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# OS-specific files
.DS_Store
Thumbs.db

# Personal backups
*_backup.py
*.bak

*.egg-info/
*.db
*.sqlite
*.sqlite3
*.log
*.csv
*.json
*.tsv
